/* Base Application Styles */
body {
  //padding-top: 50px;
}

.home {
  padding: 40px 15px;
  text-align: center;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:hover.active,
.navbar-nav > li > a:focus.active {
  color: #fff;
  cursor: default;
  background-color: #555;
}